main.main
  - var classes = ["main__master-classes-section"]
  include ./master-classes-section/master-classes-section.pug

  - var classes = ["main__about-studio-section"]
  include ./about-studio-section/about-studio-section.pug

  - var classes = ["main__our-projects-section"]
  include ./our-projects-section/our-projects-section.pug

  - var classes = ["main__contacts-section"]
  include ./contacts-section/contacts-section.pug
