a(class=[...classes, "logo"] href="" aria-label="High pass")
  picture
    source(srcset="./images/logo@1024.svg" media="(max-width: 1024px)" type="image/svg+xml")
    img.logo__img(src="./images/logo@1920.svg" loading="lazy" alt="Логотип")
