form(class=[...classes, "subscription-form"], action="" name="subscription")
  h3.subscription-form__heading Подписаться на&nbsp;рассылку
  div.subscription-form__rows-container
    div.subscription-form__row
      input.subscription-form__email(id="subscription-email" type="email" name="email" placeholder="Email" aria-label="Email" required)
    div.subscription-form__buttons
      button.subscription-form__submit-btn(type="submit") Отправить
