article(class=[...classes, "master-class"])
  header.master-class__header
    h3.master-class__heading
      span.master-class__subheading Мастер-класс от Игоря Робова
      | Неоновый фотосет 2.0
    time.master-class__time(datetime="2023-06-07T20:00+03:00") 7&nbsp;июля&nbsp;20:00
  a.master-class__link(href="") Узнать&nbsp;больше
  span.master-class__hashtag #мастеркласс
