doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="style.css")
    link(rel="icon", type="image/svg+xml", href="favicon.svg")

    script(defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(defer src="libs/just-validate.min.js")
    script(type="module", src="main.js")

    title High pass
  body
    - var phoneNumber = "+749542423532"
    include ./components/header/header.pug
    include ./components/main/main.pug
    include ./components/footer/footer.pug
